.bubble-boy {
  background-color: rgb(255, 255, 255) !important;
  display: flex;
  flex-direction: row;
  border-radius: 50px 0 0 50px;
  position: fixed;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 300000000;
  margin: 0;
  padding: 0;
  bottom: 200px;
  /* -webkit-box-shadow: -6px -9px 88px -25px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -6px -9px 88px -25px rgba(0, 0, 0, 0.26);
  box-shadow: 0 3.2px 12px 0 rgba(0, 0, 0, 0.24), 0 5px 25px 0 rgba(0, 0, 0, 0.24); */

  box-shadow: 0 0 1px 0 #0c0d190f, 0 6px 24px #0c0d190f, 0 12px 48px #0c0d190f, 0 24px 96px #0c0d190f;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  box-sizing: border-box;
  padding: auto;
  /* border: 1px solid #d8d8d8; */
}

.bubble-boy:hover {
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #d8d8d8;
  width: 46px;
}

.nodes-svg {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#pk-enhance-btn {
  background-color: red;
}

#pk-enhancer-container {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 10000;
}
